:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    padding: 0;
    margin: 0;
}

.attribution {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.attribution a {
    color: var(--neon-green);
}

body {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    font-size: 0.85rem;
    font-family: 'Manrope', sans-serif;

}

.fa-moon {
    padding: 0.89rem;
    /* width: 80%; */
    background-color: white;
    border-radius: 50%;
    margin-top: 1rem;
}
.fa-moon:hover {
    background-color: var(--neon-green);
    cursor: pointer;
    transition: 0.5s;
}

main {
    background-color: var(--dark-grayish-blue);
    width: 25%;
    padding: 1.2rem;
    border-radius: 1.5rem;
    min-width: 15.62rem;
    text-align: center;
}

#green {
    color: var(--neon-green);
}

.text {
    margin-top: 2rem;
    color: var(--light-cyan);
    font-size: 1.2rem;

}

.animateAdvice {
    animation: animate 3s;
}

@keyframes animate {
    0% {

        color: var(--dark-grayish-blue);
    }

    50% {
        color: var(--grayish-blue);
    }

    100% {

        color: var(--light-cyan);
    }
}

.text h1 {
    font-size: 1.05rem;
    margin-bottom: 1rem;
}

.text p {
    margin-bottom: 1rem;
}

.divider {
    margin-top: 2rem;
}

.divider img {
    width: 100%;
    margin-bottom: 2rem;
    /* background-color: green; */
}

.diceC {
    display: flex;
    align-items: center;
    justify-content: center;


}

#dice {
    position: absolute;
    background-color: var(--neon-green);
    border-radius: 50%;
    padding: 0.55rem;
    margin-top: 2rem;
    cursor: pointer;

}

.diceC:hover {
    background-color: yellow;

}

#dice:hover{
    background-color: var(--light-cyan);
}